.container{
    z-index: 1;
    margin: auto;
    height: 75%;
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.displayed-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    scroll-snap-align: start;
}

.container-hours{
    width: 21rem;
    display: flex;
    overflow-x: auto;
    height: 30%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.daily-cards{
    display: flex;
    justify-content: space-around;
    height: 100%;
    scroll-snap-align: start;
    padding: 0 8%;
}
.jDMtMC{
    height: 30%!important;
}
.gKIpWu{
    bottom: -15px!important;
    display: flex;
    justify-content: center;
}

.fkNZGl{
    padding-left: 0;
}
.daily-card-range{
    width: 100%;
}

.daily-card-range > .range{
    width: 100%;
}


.daily-card{
    background: rgba(183, 183, 183, 0.18);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.daily-card-day{
    font-size: 1.3rem;
}
.daily-card-temp{
    font-size: 2rem;
}


.container-icon{
    width: 13rem;
}

.container-temp{
    text-align: center;
    box-sizing: border-box;
    margin: 10% 0;
    font-size: 4rem;
}

.container-details{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.container-feels{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: space-evenly;
    align-items: center;
}

.container-feels img{
    width: 60%;
}

.container-range{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.range{
    display: flex;
    align-items: flex-start;
    width: 50%;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.minArrow,
.maxArrow{
    width: 2rem;
    height: auto;
}

.maxArrow{
    transform: rotate(180deg);
}