.container{
    z-index: 1;
    margin: auto;
    height: 75%;
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.displayed-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
}

.container-hours{
    width: 100vw;
    display: flex;
    overflow-x: auto;
    height: 30%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
    top: 6%;
}


.daily-cards{
    display: flex;
    justify-content: space-around;
    height: 100%;
    scroll-snap-align: start;
    padding: 0 7%;
}
.jDMtMC{
    height: 30%!important;
}
.gKIpWu{
    bottom: -15px!important;
    display: flex;
    justify-content: center;
}

.fkNZGl{
    padding-left: 0;
}
.daily-card-range{
    width: 100%;
}

.daily-card-range > .range{
    width: 100%;
}


.daily-card{
    background: rgba(183, 183, 183, 0.18);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.daily-card-day{
    font-size: 1.3rem;
}
.daily-card-temp{
    font-size: 2rem;
}


.container-icon{
    max-width: 140px;
    max-height: 120px;
}

.container-temp{
    text-align: center;
    box-sizing: border-box;
    margin: 2% 0;
    font-size: 4rem;
}

.container-details{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container-feels{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.container-feels img{
    width: 60%;
}

.container-range{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
}

.range{
    display: flex;
    align-items: flex-start;
    width: 50%;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.minArrow,
.maxArrow{
    width: 2rem;
    height: auto;
}

.maxArrow{
    transform: rotate(180deg);
}

.size{
    display: none;
}


@media (max-width:345px){
    .container-hours{
        display: none;
    }
    .size{
        display: inline;
    }
    
}

@media (min-width:480px){
    .container{
        width: 66%;
    }
    .displayed-cards{
        padding: 0;
    }
    .displayed-cards,
    .container-details,
    .container-hours{
        width: 100%;
    }
    .container-details{
        min-width: 330px;
    }
    
      
}

@media (min-width:501px){
    .container-details{
        min-width: 74vw;
    }
    .container-date{
        font-size: 1.5rem;
        margin: 2% 0;
    }
    
.container::-webkit-scrollbar,
.container-hours::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .container::-webkit-scrollbar-thumb,
  .container-hours::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .container::-webkit-scrollbar-thumb:active,
  .container-hours::-webkit-scrollbar-thumb:active{
    background-color: #999999;
  }
  
  .container::-webkit-scrollbar-thumb:hover,
  .container-hours::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .container::-webkit-scrollbar-track,
  .container-hours::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  .container::-webkit-scrollbar-track:hover, 
  .container::-webkit-scrollbar-track:active,
  .container-hours::-webkit-scrollbar-track:hover, 
  .container-hours::-webkit-scrollbar-track:active
   {
    background: #d4d4d4;
  }
}   

