body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: Roboto Mono;
  font-size: 3rem;
  top: 3%;
  letter-spacing: -0.105em;
  color: rgba(0, 0, 0, 0.45);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main{
  background-image: url('./assets/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

footer{
  position: fixed;
  bottom: 2%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

footer div{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto Mono;
font-style: normal;
font-weight: normal;
font-size: 1rem;
color: rgba(0, 0, 0, 0.45);

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}